@font-face {
    font-family: 'Pixelify';
    src: url('/PixelifySans_Regular.ttf') format('truetype');
 }

.content {
    font-family: 'Pixelify';
    padding-top: 10px;
    transform: translate3d(-60%, -300%, 0);
    text-align: center;
    background: rgba(210, 110, 10, 0.25);
    backdrop-filter: blur(4px);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    white-space: nowrap;
}

.content::before {
    content: "";
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 80px;
    background: black;
}